services:
  db:
    image: postgres:18.1
    restart: always
    environment:
      POSTGRES_PASSWORD: password
    volumes:
      - "postgres-data:/var/lib/postgresql"
  web-server:
    image: httpd:2.4
    ports:
      - 8080:80
    volumes:
      - "./htdocs:/usr/local/apache2/htdocs"

volumes:
  postgres-data:
